.title{
    text-align: center;
    color:rgb(10, 55, 44);
    font-size: 60px;
}

body{
    background: linear-gradient(100deg,white,#c1f0ff);
}


.container-card{
    transition: 0.3s;
    width: 30%;
    border-radius: 5px;
}

.container{
    width: 500px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    
}
.form{
    align-items: center;
    display: flex;
    padding: 20px;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
}
.input{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    flex: 1;
}

.add{
    color:whitesmoke;
    background: hsl(345deg 100% 47%);
    border-radius: 12px;
    height: 45px;
    width: 80px;
    font-weight: bolder;
    cursor: grab;
    border: none;
    font-size: 1.1rem;
    will-change: transform;
    transform: translateY(-4px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
}

#type_task{
    line-height: 32px;
    border-radius: 6px;
    text-align: center;
    border-color: aliceblue;
    flex:1;
}
.input:focus,
.add:focus{
    outline: none;
}

.task {
   /* display: grid;
    grid-template-columns: auto auto auto; /* You can adjust the number of columns as needed 
    display: flex;
    flex-direction: column;*/
    justify-content: space-between;
    align-items: center;
    gap: 10px; /* Adjust the gap between grid items */
    background-color: #c1f0ff;
    border: 1.5px solid #c1f0ff;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    width: 200px; /* Set a width for each card */
    /* Other styles you'd like to apply */
}


/* Alternate style for cards 
.task.task:nth-child(n) {
    background-color: #cfebf5;
}
    /* Additional styles for odd numbered cards */

 /* .task.task:nth-child(4n-n) {
    background-color: #62f5ff;
    /* Additional styles for odd numbered cards 
} */
.task.task:nth-child(3n-2) {
    background-color: #ffffff;
    border: 1.5px solid #ffff;
    /* Additional styles for odd numbered cards */
} 

/* Floating style for the tasks */
#tasks {
    display: grid;
    /*flex-wrap: nowrap;
    justify-content: space-around; /* To space cards evenly in the container */

    grid-template-columns: repeat(auto-fill,minmax(167px, 1fr));
    
}


.delete_all{
    width:calc(100% - 25px);
    margin:auto;
    padding:12px;
    text-align: center;
    font-size: 14px;
    color:whitesmoke;
    background-color: #070707;
    margin-top: 20px;
    cursor: grab;
    border-radius: 4px;
}
.task {
    position: relative;
    padding-right: 30px; /* To create space for the delete button 
    display: flexbox;*/
}

.del {
    position: absolute;
    top: 7px;
    right: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

/* Add this style to your CSS */
.delete_all[disabled] {
    cursor: not-allowed;
}

.delete_all[disabled]:hover {
    background-color: rgb(63, 62, 62);
}

